# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Any Folders
**node_modules
**npm-debug.log*
**yarn-debug.log*
**yarn-error.log*

# Frontend
/frontend/build
/frontend/auth-config
